# In all environments, the following files are loaded if they exist,
# the latter taking precedence over the former:
#
#  * .env                contains default values for the environment variables needed by the app
#  * .env.local          uncommitted file with local overrides
#  * .env.$APP_ENV       committed environment-specific defaults
#  * .env.$APP_ENV.local uncommitted environment-specific overrides
#
# Real environment variables win over .env files.
#
# DO NOT DEFINE PRODUCTION SECRETS IN THIS FILE NOR IN ANY OTHER COMMITTED FILES.
# https://symfony.com/doc/current/configuration/secrets.html
#
# Run "composer dump-env prod" to compile .env files for production use (requires symfony/flex >=1.2).
# https://symfony.com/doc/current/best_practices.html#use-environment-variables-for-infrastructure-configuration

###> symfony/framework-bundle ###
APP_ENV=prod
APP_DEBUG=0
APP_SECRET=412218dbcd7fccf45768cb317eae7f8e
###< symfony/framework-bundle ###

###> SolarSystem API Key ###
SOLAR_SYSTEM_API_KEY="CHANGE_ME"
###> URL SolarSystem API ###
SOLAR_SYSTEM_API_URL="https://api.le-systeme-solaire.net/rest"

###> NASA API Key ###
NASA_API_KEY="CHANGE_ME"
###> URL NASA API ###
NASA_API_URL="https://api.nasa.gov"

###> ISS API Key - NONE###
###> ISS API URL ###
ISS_API_URL="https://api.wheretheiss.at/v1"

###> OpenNotify People In Space API Key - NONE###
###> OpenNotify People In Space API URL ###
PEOPLE_IN_SPACE_URL="http://api.open-notify.org"

###> Nominatim Reverse Geo API Key - NONE###
###> Nominatim Reverse Geo API URL ###
NOMINATIM_URL="https://nominatim.openstreetmap.org"

###> symfony/mailer ###
MAILER_DSN=null://null
###< symfony/mailer ###

###> doctrine/doctrine-bundle ###
# Format described at https://www.doctrine-project.org/projects/doctrine-dbal/en/latest/reference/configuration.html#connecting-using-a-url
# IMPORTANT: You MUST configure your server version, either here or in config/packages/doctrine.yaml
#
# DATABASE_URL="sqlite:///%kernel.project_dir%/var/data_%kernel.environment%.db"
DATABASE_URL="mysql://user:password@127.0.0.1:3306/spacehub?serverVersion=mariadb-10.3.25&charset=utf8mb4"
# DATABASE_URL="postgresql://app:!ChangeMe!@127.0.0.1:5432/app?serverVersion=16&charset=utf8"
###< doctrine/doctrine-bundle ###
